@import "../../base.scss";

.searchScreen {
    margin-top: 20px;

    header {
        display: flex;

        a {
            align-self: center;

            .searchScreen__logo {
                height: 36px;
                padding-left: 15px;
                border: none;
                display: inline;
            }
        }

        .searchBar {
            padding-left: 100px;
            height: 46px;

            form {
                height: inherit;
            }
        }
    }

    &__tabs {
        margin-left: 190px;
        margin-top: 20px;

        button {
            cursor: pointer;
            font-weight: 500;
            border: none;
            position: relative;
            color: #fb542b;
            background: transparent;
            outline: none;
            padding: 7px 11px 7px 11px;
            font-weight: bold;

            &::after {
                content: "";
                background: linear-gradient(305.95deg, #BF14A2 0%, #F73A1C 60%);
                height: 3px;
                width: 60%;
                position: absolute;
                bottom: 0;
                left: 50%;
                border-radius: 2px/50%;
                transform: translateX(-44%);
            }
        }
    }

    &__webResults {
        background-color: #1e2028;
        max-width: 672px;
        margin-left: 148px;
        border-radius: 12px;
        padding-top: 1.2rem;
        padding-left: 22px;
        padding-right: 22px;

        .webResults {
            padding-bottom: 1.7rem;

            a {
                text-decoration: none;
            }

            h2 {
                text-rendering: optimizeLegibility;
                font-size: 20px;
                line-height: 1.35;
                letter-spacing: 0.3px;
                position: relative;
                text-decoration: none;
                word-wrap: break-word;
                font-weight: 400;
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                a {
                    color: #7799e5;
                }
            }

            &__link {
                padding: 4px 0 10px;

                a {
                    color: #AFB3C1;
                    letter-spacing: 0.3px;
                    font-size: 14px;
                }
            }

            &__description {
                color: #afb3c1;
                font-size: 14px;
                letter-spacing: 0.3px;
                word-wrap: break-word;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-align: justify;
                line-height: 20px;
            }
        }
    }
}